---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="reddit", error="invalid_request"
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=5856Fs2RrAp%2FJkPvPfQIKtpMCeq%2FZ8b%2BYpG8k1hzMWezpMmKIrWFnyMJ2QoREh2h4HG3R4cAoJUswNDW7EYl%2Fs8GbWd8VoHr
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"message": "Bad Request", "error": 400}'
  recorded_at: Wed, 01 Feb 2017 18:45:17 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/subreddits/mine/subscriber?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fsubreddits%2Fmine%2Fsubscriber%3Flimit%3D25
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: |-
        <html>
         <head>
          <title>302 Found</title>
         </head>
         <body>
          <h1>302 Found</h1>
          The resource was found at <a href="https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fsubreddits%2Fmine%2Fsubscriber%3Flimit%3D25">https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fsubreddits%2Fmine%2Fsubscriber%3Flimit%3D25</a>;
        you should be redirected automatically.


         </body>
        </html>
  recorded_at: Wed, 01 Feb 2017 18:45:18 GMT
recorded_with: VCR 3.0.3
